<h1>{{model.body}}</h1>
<h3>{{model.author}}</h3>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
